#Blog {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    overflow-x: hidden !important;
    .blogpost {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 1000px;
        padding: 5px 5px 20px 5px;
        background: white;
        outline: 1px solid black;
        .blogpost-header {
            line-height: 1em;
            padding: 5px 10px 5px 10px;
            margin-bottom: 10px;
            background: $tertiary-color;
            .blogpost-title {
                margin: 0;
                padding: 0;
            }
            .blogpost-keywords {
                width: 100%;
                color: $accent-color;
                small {
                    margin: 0 5px 0 0;
                    font-weight: 700;
                }
            }
            .blogpost-date {
                font-weight: 700;
                font-style: italic;
            }
        }
        .blogpost-text {
            margin: 5px;
            word-wrap: break-word;
        }
        .img-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            width: 100%;
            @media (max-width: $breakpoint-md) {
                height: 45vh;
            }
        }
        .blog-img {
            height: 90%;
            width: auto;
            @media (max-width: $breakpoint-md) {
                height: 85%;
            }
        }
    }
}