nav {
    font-size: 1.1em;
    z-index: 1;
    background: $primary-color-darker;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    .logo-wrapper {
        width: 70px;
        .logo {
            width: 100%;
        }
    }
    .navbar-collapse {
        position: absolute;
        width: 200px;
        top: 67px;
        right: 10px;
        background: $primary-color-darker;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
        @media (min-width: 750px) {
            display: flex;
            justify-content: space-around !important;
            top: 20px;
            left: 250px;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0);
            a {
                margin: 0 !important;
                padding: 0 !important;
            }
            li {
                width: 90px;
                margin: 0 10px 0 0 !important;
                padding: 0 !important;
                text-align: center;
                a {
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }
        }
        a,
        li {
            background: $primary-color-darker;
            font-weight: 700;
            padding-left: 10px;
        }
        a:hover,
        li:hover {
            text-decoration: none;
            color: $tertiary-color !important;
        }
        .dropdown-menu.show {
            padding: 0;
            border: 0;
            a {
                background: $primary-color;
                color: white;
            }
        }
    }
    .navbar-collapse.collapse.show {
        right: 10px;
    }
}