#Projects {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 80px 0 0 0;
    width: 100%;
    height: auto;
    #projects-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        width: 90%;
        height: 100%;
        .project {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            flex-grow: 1;
            width: 30%;
            height: 300px;
            margin: 10px;
            padding: 10px;
            color: black;
            background: $tertiary-color;
            -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            @media (max-width: $breakpoint-sm) {
                width: 100%;
            }
            h1,
            p {
                display: flex;
                align-items: center;
                text-align: center;
                margin: 0;
                height: 15%;
            }
        }
        .project:hover {
            text-decoration: none;
        }
    }
}