#Home {
    margin-left: 5%;
    max-width: 90%;
    #intro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        #picture-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            max-height: 200px;
            img {
                height: 200px;
                border: 4px solid $accent-color;
                border-radius: 120px;
                @media (max-width: $breakpoint-sm) {
                    height: 150px;
                }
            }
            @media (min-width: $breakpoint-md) {
                margin-right: 30px;
            }
        }
        #text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            text-align: center;
            @media (max-width: $breakpoint-sm) {
                padding: 5px;
            }
            h4 {
                margin: 0;
                padding: 0;
            }
            p {
                width: 80%;
                @media (max-width: $breakpoint-sm) {
                    width: 95%;
                }
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}