#Projects {
    flex-wrap: wrap;
    margin-bottom: 20px;
    height: auto;
    #header {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #sort {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        #buttons-container {
            width: 100%;
            max-width: 800px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        button {
            margin-right: 10px;
            min-width: 100px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
    #projects-container {
        max-width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: white;
    }
    .project {
        min-width: 250px;
        height: 300px;
        flex-grow: 1;
        background: grey;
        border: 1px solid black;
        margin: 10px 20px 10px 20px;
    }
}