"
<p>This was a three day project to practice API calls and relying on geolocation that ended up being something I shared with friends and family. I wanted to not only just regurgitate hourly forecast data based on a match of a city query, but to flag bad
    weather ( rain, thunder, tornados, etc. ) in the near future so those conditions wouldn’t ruin anyone’s plans.
</p>
<p>While for the most part this project was smooth sailing, there were some challenges: the implementation of an algorithm to make date-time adjustments for hourly weather conditions, the API fetch that would help clean up the city name string for the header,
    and compatibility issues with Safari, and hiding the API key in environment variables.
</p>
<p>The algorithm that’s responsible for mapping out hour-weather objects was to also take the hour index (0,1,2,3, …) and to turn it into a human readable string indicates where that is in calendar time. If the hour-weather object’s index position is 0,
    it would output the current time. If the index position was 48, it would make corresponding changes to the day, hour, and am/pm. Overcoming this challenge incurred some head-scratching, but through diligent usage of debugging and careful refactoring,
    the logic for this and most features was made in the first four hours.
</p>
<p>During development, I had a second API that would take the geo coordinates reported by the openWeather API and would helpfully bring back data that would clarify the city match for the weather report. It was confusing in usage to type in “Alexandria”
    and to not have a confirmation on which Alexandria you were looking at. There are 14 Alexandrias out there, so this was not a great UX. The openWeather API didn’t offer useful city name information, so I looked for free API’s that would do so. The
    first candidate didn’t have an SSL certificate, so it caused most browsers to yell, and wasn’t a secure option. The search goes on! Google’s API seems a viable option.
</p>
<p>Currently, the project doesn’t work on Safari. Being a PC user, I’ll have to find software that will provide me with the runtime engine. A work in progress.
</p>
<p>Strangely, the setup of a .env file to hide the API key didn’t work in either development or in the build, whereas it had in the past. There’s something I’ve missed, so I’m on the hunt.
</p>"