// Color Pallette
$primary-color: #41686a;
$primary-color-darker: #3a5c5e;
$secondary-color: #5f7122;
$tertiary-color: #789983;
$accent-color: #d6c55a;
// Breakpoints
$breakpoint-md: 760px;
$breakpoint-sm: 500px;