// Color Pallette
$primary-color: #41686a;
$primary-color-darker: #36595a;
$secondary-color: #5f7122;
$tertiary-color: #789983de;
$accent-color: #d6c55a;
// Breakpoints
$breakpoint-lg: 1000px;
$breakpoint-md: 760px;
$breakpoint-sm: 400px;