@import "node_modules/bootstrap/scss/bootstrap";
@import "./styles/mixins";
@import "./styles/variables";
@import "./styles/functions";
// Views
@import "./styles/views/AboutMe";
@import "./styles/views/Blog";
@import "./styles/views/Home";
@import "./styles/views/Nav";
@import "./styles/views/Projects";
// Microcomponents
html,
body,
#root,
#root>div {
    ::-webkit-scrollbar {
        display: none;
    }
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to bottom, $primary-color, $primary-color-darker);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    @media (max-width: $breakpoint-sm) {
        align-items: flex-start;
    }
}